<section class="body">
<div *ngIf="!isComplete">
  <div class="lds-ring ringPos">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<div class="searchBar">
  <input class="column is-12 input" [(ngModel)]="searchText" placeholder="Search by Title">
</div>
<div class="columns is-multiline">
  <div class="column" *ngFor="let hackerPost of hackerPosts | filter: searchText">
    <a href="{{hackerPost.url}}" target='_blank'>
      <div class="card card-shadow">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title">{{hackerPost.title}}</p>
              <p class="author">Author: {{hackerPost.by}}</p>
              <p class="score">Score: {{hackerPost.score}}</p>
            </div>
          </div>
          <div class="content">
            <br>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
</section>