section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: "Roboto Slab", serif;
}

section.module.parallax-1 {
  background-color: #38b0de;
  background-image: url('../../../assets/heroimage.jpg');
}

.overlaytext {
  top: 68%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  position: absolute;
  border: 4px solid #fff;
  font-size: 25pt;
  padding: 25px 40px;
}